# hissa1

In [2]:
print("hello hajar ")

hello hajar

In [3]:
print(type(5))

<class 'int'>

In [4]:
age=77
name="jamal"
print(f" {name} has {age } years")

 jamal has 77 years

In [5]:
age=77
name="jamal"
print("{} has {} years".format(name,age ))

jamal has 77 years

In [20]:
age=100_000_000
name="jamal"
z=66.6
print("{} :name \n{} :age \t \n{}".format(type(name),type(age),type(z) ))
print(age)

<class 'str'> :name
<class 'int'> :age
<class 'float'>
100000000

In [30]:
print(444+5)
print(66+9.6)

449
75.6

In [33]:
550309545/6345

86731.21276595745

In [35]:
550309545//6345

86731

In [36]:
number=99
number+5

104

In [42]:
name="jamal "
surname="3ira9i"
print(name+" "+surname)
print(name*5)

jamal  3ira9i
jamal jamal jamal jamal jamal

In [39]:
sequence1="AAATCCCGCCGTTTG"
sequence2="AAATCGGGCCGCCGCCTG"
print(sequence1+sequence2)

AAATCCCGCCGTTTGAAATCGGGCCGCCGCCTG

In [44]:
name=input(" enter your name ")
print(f" hello {name} merhba bik")

 hello morad merhba bik

In [46]:
number=input("give me a number and i will multiply it by 4")
print(int(number)*4)

20

In [49]:
number=int(input("give me a number and i will multiply it by 4"))
print(number*4)

20

In [50]:
txt=input()
print(txt)

majid daiman motawajid

In [52]:
message="hello whats ya name"
# comment in one line 
"""
documentation diyal functions stoupli 
"""
name=input(message)
print(f" nice to meta {name}") # this line is perfect

 nice to meta lam

In [53]:
names=["mm","nn","ii"]
for name in names:
    print(f"nice tomita {name} \t")

nice tomita mm
nice tomita nn
nice tomita ii

In [56]:
names=["mm","nn","ii"]
for i in names:
    print(f"nice tomita {i} \t")

nice tomita mm
nice tomita nn
nice tomita ii

In [58]:
hours=int(input("Enter Hours: "))
rate=float(input("Enter Rate: "))
print(f"Pay: {hours*rate}")

Pay: 96.25

In [59]:
8.0/4

2.0

In [60]:
1+2*5

11

In [61]:
Celsius=float(input(" 3tina lharara diyalk"))
Fahrenheit=(Celsius * 9/5) + 32

print(f" {Celsius} C in Fahrenheit is equal to:\n\t {Fahrenheit}")

 55.0 C in Fahrenheit is equal to:
	 131.0